
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}

body {
    font-family: 'Luxurious Roman', cursive;
    font-size: 100%;
    background-color: rgb(238, 227, 213);
    align-self: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.facebook {
    width: 130px;
    height: 130px;
    background-color: rgb(217,176,125);
    background: linear-gradient(180deg, rgba(217,176,125,0.524390243902439) 0%, rgba(205,156,141,0.3390243902439024) 42%);
    background-image: url('img/facebook.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: none;
}

.sfondo {
    background-color: bisque;
}

.link {
    visibility: visible;
    font-size:large;
    color: white;
}





.button {
    text-transform: uppercase;
    border: none;
}

.button:hover {
    color:bisque
}


.section {
    padding-top: 60px;
    padding-bottom: 60px;
}



.header {
    position: fixed;
    top: 0%;
    left: 0%;
    max-height: 72px;
    min-height: 68px;
    width: 100%;
    display: flex;
    background: rgb(124, 90, 47);
    background: linear-gradient(180deg, rgba(217,176,125,0.524390243902439) 0%, rgba(205,156,141,0.3390243902439024) 42%);
}

.immagine {
    position: absolute;
    top: -50px;
    align-self: flex-start;
    background-repeat: no-repeat;
    background-image: contain;
    background-repeat: no-repeat;
    margin-left: 40px;
    max-width: 1920px;
    width: 10px;
}

.menù li a{
    text-decoration: none; 
    font-family: 'Luxurious Roman', cursive;
    text-transform: uppercase;
    color: black;
    

}

.menù ul {
list-style-type: none;
display: flex;
margin-left: 100%;


}

.menù ul li{
    margin-right: 22px;
    margin-left: 2%;
    margin-top: 30px;
    font-size: 13px;
    background-color: rgb(201, 175, 140) ;
    padding: 5px 7px;
    border-radius: 45px;
     
}

.hero {
   min-height: 1000px ;
   height: 100%;
   margin-top: 74px;
   width: 100%;
   background-image: url(img/IMG-2582.JPG);
   background-size: 100%;
   background-repeat: no-repeat;
   min-width: 845px;
   min-height: 1000px;
   }




.contacts-content {
    display: flex;
    justify-content: space-between;

}

.contacts {
    background: rgb(217,176,125);
    background: linear-gradient(180deg, rgba(217,176,125,0.524390243902439) 0%, rgba(205,156,141,0.3390243902439024) 42%);
    min-width: 845px;
    
}

.contacts-about {
    margin-left: auto;
    margin-right: auto;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 50px;
    
}

.input-label {
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
}

.input-label span{
    font-size: 15px;
    font-weight: 200;
}

.input-field,
.input-textarea {    
    font-family: 'Luxurious Roman', cursive;
    font-size: 18px;
    color: white;
    background-color: rgb(201, 175, 140);
    padding: 3px 3px;
    width: 80%;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
}


  @media  screen and (max-width: 768px) {
      .contacts-content {
          flex-direction: column;
      }
      .contacts-about,
      .contacts-form {
          width: 100%;
      }
      
    }  

.back-to-top {
    background-image: url('img/freccia.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 95%;
    border-radius: 90%;
    background-color: rgb(201, 175, 140);
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    
}




.input-textarea {
    height: 100px;
    width: 80%;
}

.contacts-form {
    margin-left: auto;
    margin-right: auto;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 50px;
    
}


.works-menù {
    margin-top: 1px;
    position: sticky;
    top: 80px;
    bottom: 15px;

}


.works-menù ul {
    list-style-type: none;
    display: flex;
    margin-left: 40px;
    margin-bottom: 50px;
}

.works-menù ul li {
    margin-right: 24px;
    font-size: 18px;
    background-color: rgb(201, 175, 140) ;
    padding: 5px 7px;
    border-radius: 45px;
}

.works-menù li a {
    text-decoration: none; 
    font-family: 'Luxurious Roman', cursive;
    text-transform: uppercase;
    color: black;
    
}


.titolo {
    font-size: 27px;
    margin-left: 40px;
}




.imgpast {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100%;
    min-width: 845px;
}

.imgpast img{
    margin-bottom: 30px;
    background: none;
    width: fit-content;
}
    
.imgpast-left {
    align-self: flex-start;
    margin-left: 40px;
}

.imgpast-left1 {
    align-self: flex-start;
    margin-left: 40px;
}

.imgpast-right {
    align-self: flex-end;
    margin-right: 40px;
    margin-bottom: 50px;
}

.imgtorte {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100%;
    min-width: 845px;
}

.imgtorte img{
    margin-bottom: 30px;
    background: none;
}

.imgtorte-left1 {
    align-self: flex-start;
    margin-left: 40px;
}

.imgtorte-right {
    align-self: flex-end;
    margin-right: 40px;
}

.imgtorte-left {
    align-self: flex-start;
    margin-left: 40px;
}

.imgtorte-right1 {
    align-self: flex-end;
    margin-right: 40px;
}

.imgtorte-left2 {
    align-self: flex-start;
    margin-left: 40px;
}



.imgpanetto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100%;
    min-width: 845px;
}

.imgpanetto img{
    margin-bottom: 30px;
    background: none;
}

.imgpanetto-left {
    align-self: flex-start;
    margin-left: 40px;
}

.imgpanetto-left1 {
    align-self: flex-start;
    margin-left: 40px;
}

.imgpanetto-left2 {
    align-self: flex-start;
    margin-left: 40px;
}

.imgpanetto-left3 {
    align-self: flex-start;
    margin-left: 40px;
}

.imgpanetto-left4 {
    align-self: flex-start;
    margin-left: 40px;
    
}

.imgpanetto-right {
    align-self: flex-end;
    margin-right: 40px;
}

.imgpanetto-right1 {
    align-self: flex-end;
    margin-right: 40px;
}

.imgpanetto-right2 {
    align-self: flex-end;
    margin-right: 40px;
}

.imgpanetto-right3 {
    align-self: flex-end;
    margin-right: 40px;
}

.anchors {
    visibility: hidden;
    position: relative;
    top: -50px;
}

.anchors1 {
    visibility: hidden;
    position: relative;
    top: -135px;

}

.anchors2 {
    visibility: hidden;
    position: relative;
    top: -135px;

}

.anchors3 {
    visibility: hidden;
    position: relative;
    top: -135px;

}

.imggelati {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100%;
    min-width: 845px;
}

.imggelati img{
    margin-bottom: 30px;
    background: none;
}

.imggel-left {
    align-self: flex-start;
    margin-left: 40px;
}

.imggel-left1 {
    align-self: flex-start;
    margin-left: 40px;
}

.imggel-left2 {
    align-self: flex-start;
    margin-left: 40px;
}

.imggel-left3 {
    align-self: flex-start;
    margin-left: 40px;
}


.imggel-right {
    align-self: flex-end;
    margin-right: 40px;
}

.imggel-right1 {
    align-self: flex-end;
    margin-right: 40px;
}

.imggel-right2 {
    align-self: flex-end;
    margin-right: 40px;
}

.imggel-right3 {
    align-self: flex-end;
    margin-right: 40px;
}

.footer {
    background-color: rgb(201, 175, 140) ;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
}


.copyright {
    margin-left: 190px;
    margin-bottom: 5px;
}

@media  screen and (max-width: 768px) {
    .copyright {
        position: relative;
        left: -150px;
        font-size: small;
        width: 100%;
}

@media  screen and (max-width: 576px) {
    .contacts-about,
    .contacts-form {
        font-size: medium;
}
.input-field,
.input-textarea {
    font-size: small;
    max-width: fit-content;
}